

ion-content {
    --padding-top: 10%;
    --padding-start: 3%;
    --padding-end: 3%;
   // --background: url('https://images.unsplash.com/photo-1536431311719-398b6704d4cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80') 0 0/100% 100% no-repeat;
}

.toogle-records{
  margin-bottom: 15px;
  .segment-button-checked{
    --ion-background-color: #E14E66 !important;
    color: white !important;
}
}

.input-group {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}

.errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}


ion-header, ion-toolbar{
  // --ion-toolbar-background: rgba(0, 0, 0, 0.0);
 }

 .form-container {
  // background-image:url('https://th.bing.com/th/id/OIP.RiIzwHhqijm4dVBVJHuf9gHaEl?w=312&h=193&c=7&r=0&o=5&pid=1.7');
   // background-position:center;
   // background-size:cover;
   // background-clip:border-box;
   // background-repeat: no-repeat;
   text-align: left;
   padding: 0em;


 margin-top: 0;
 padding-top: 0;
   width: 100%;
  // min-height: 100vh;
   ///overflow-y:hidden;
   //background-color: #EBFEF2;
 //display:flex;
 form{
 //  background-color:rgba(0,0,0,0.2);
   //min-height: 100vh;
 }
   .forms {
    // margin:  auto auto auto auto;
  display:flex;
  justify-content:center;
     //padding: 1em;
     padding-top: 0;


     ion-item {
      // width: 300px;
       margin-top: 20px;
       border-radius: 10px;
       background-color: #ebfef2 !important;

       ion-label {
         color:  var(--ion-color-primary);
         font-weight: 400;
         font-size: 15px;
         z-index: 8888888888888;
       }
       ion-input,
       ion-textarea {
         color: #211f20;
       }
     }
     ion-item ion-label,ion-button{
       font-weight:bold
     }
     ion-card{
       padding: 1.5em;
       border-radius: 30px;
      // margin-top:-2em;
     }


     #login, #signin {
       margin-top: 50%;
       text-align: center;

       background-color: #fff;
       box-shadow: 0px 0px 2px 1px #cbfede;
       -webkit-box-shadow: 0px 0px 2px 1px #cbfede;
       -moz-box-shadow: 0px 0px 2px 1px #cbfede;
       ion-label {
         font-weight: 400;
       }
     }
     #signup{
       margin-top: 50%;
     }
      #signin{
       margin-top: 90%;
     }
   }
 }

 ion-list{
        #image{
          width: 100px;
          height: 100px;
          display: flex;
          gap: 10px;
          margin: 5px;

          img{
            border-radius: 10px;
          }

          ion-icon{
            position: absolute;
            margin-left: auto;
            font-size: 25px;

          }
        }
      }

 #nextSlide{
   //margin-top: 50%;
   margin-left:auto;
   margin-right:auto;
   //max-width:100%
 }


 .swiper{
   width: 100%;
   min-height: 100vh;
   min-width: 100%;

       }
