 
ion-toolbar {
  --ion-toolbar-background: transparent;
 
  }
 
 .main-content{
   padding: 0 0.7em;
 }
 
 .header{
  padding: 10px 0.7em;
  display: flex;
  ion-icon{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
  }
  .search{
    margin-left: auto;
  }
  span{
        margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    margin-left: 10px;
    font-size: 18px;
  }
}

ion-header{
  position: absolute;
}
ion-toolbar{
  padding: 0 0.4em;
}

.button-bar{
display: flex;
overflow-x: scroll;
width:100%;
ion-chip{
  flex-shrink: 0;
  height: 35px;
--box-shadow: 1px 1px white;
}

}

.button-bar::-webkit-scrollbar{
   display: none;
}


.cart-items{
  background-color:#DC3C45 ;
  display: flex;
  display: none;
  width: 150px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
  border-radius: 5px;
  margin-left: 30%;
  margin-right: auto;
  position: fixed;
  top: 90%;
  margin-bottom: 0;
  z-index: 9999;
  color: white;
  ion-icon{
    font-size: 25px;
 
    margin-right: 10px;
  }
  span{
       margin-top: auto;
    margin-bottom: auto;
  }
}
 
 
 
 
 
 
 
 
 .offer-items{
    display: flex;
    margin-left: -10px;
    overflow-x: scroll;

  }
  .offer-items::-webkit-scrollbar{
   display: none;
}


.listings{
  margin-top: 20px;

}

