<ion-card (click)=" recordMetrics()" class="ion-activatable ripple-parent">
<div class="image-x">
  <ion-badge *ngIf="product.discount > 0" class="discount-x">-{{(product.discount*100)/product.price}}%</ion-badge>
  <img [src]="image" alt="">
</div>
  <ion-card-content class="description">
    <ion-card-title>{{product.title}}</ion-card-title>
    <!-- <ion-card-subtitle>Salt, sugar, milk</ion-card-subtitle> -->
    <div class="buy">
    <div class="price">
      <span class="actual " [class]="product.discount > 0 ? 'isdiscount': ''">GHC{{product.price}}</span>
       <span class="discount" *ngIf="product.discount > 0">GHC{{product.price - product.discount }}</span>
    </div>
      <div class="cart" (click)="addToCart($event, product)">
        <ion-icon name="cart-outline"></ion-icon>
      </div>
    </div>
  </ion-card-content>
  <ion-ripple-effect></ion-ripple-effect>
</ion-card>
