<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/login" (click)="back()"  mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="form-container">
  <form class="form" [formGroup]="frmSetNewPassword" (ngSubmit)="setPassword()">
   <div class="forms">
   <ion-card>
    <h3 style="color:black; text-align:center">
      Set a new password
    </h3>
    <h6 style=" text-align:center">Please enter and confirm your new password</h6>
    <ion-item class="field">
      <ion-label position="floating">Password: </ion-label>
        <ion-input class="input " [type]="showpassword? 'text' : 'password'" name="password" formControlName="password"></ion-input>
        <ion-icon style="color:var(--ion-color-primary); margin: auto auto auto auto" [name]="showpassword ? 'eye-off' :'eye'" slot="end" (click)="showpassword = !showpassword"></ion-icon>
    </ion-item>
    <ion-item class="field">
      <ion-label position="floating" class="label">Confirm Password: </ion-label>
     
        <ion-input class="input " [type]="showpassword ? 'text' : 'password'"  name="confirmPassword" formControlName="confirmPassword"></ion-input>
      
   
    </ion-item>
   
  
        <ion-button color="secondary" class="button is-fullwidth is-primary" type="submit" [disabled]="!frmSetNewPassword.valid">
          
          <span>Reset</span>
        </ion-button>
    
   </ion-card>
  </div>
  </form>
 </div>
</ion-content>
