<!-- <ion-content [fullscreen]="true">
  <div class="main-container">
    <div class="header">
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="tabs/tab1" mode="ios"></ion-back-button>
      </ion-buttons>
      <span>Voice Orders</span>
      <span class="search">
        4 items
      </span>
    </div>




<ion-list id="ion-list">

 <div class="v-order">
  <ion-icon name="trash"></ion-icon>
   <audio controls></audio>

   <ion-icon name="send-outline"></ion-icon>
 </div>

</ion-list>

  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="mic-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="summary">
<div class="sub-total">
  <span>Orders</span>
  <span class="cost">5</span>
</div>
    <div class="total">
      <span>Compleed</span>
      <span class="cost">0</span>
    </div>


  </div>
</ion-content> -->
