<!-- <swiper [autoplay]="false" [keyboard]="true" [pagination]="false" [scrollbar]="true" [zoom]="true"
  (swiper)="setSwiperInstance($event)">
  <ng-template swiperSlide>
    <form [formGroup]="productForm" #prodform="ngForm">
      <ion-item lines="none" color="primary">
        <ion-label position="floating">Title</ion-label>
        <ion-input formControlName="title"></ion-input>
      </ion-item>

      <ion-item lines="none" color="primary">
        <ion-label position="floating">Description</ion-label>
        <ion-textarea formControlName="description" rows="10"
          placeholder="Please provide a detailed description of your product"></ion-textarea>
      </ion-item>

      <ion-item lines="none" color="primary">
        <ion-label>category</ion-label>
        <ion-select formControlName="category" (ionChange)="filterSubCategories(); category.present()"
          interface="popover">
          <ion-select-option [value]="cat.category" *ngFor="let cat of topCategories">
            {{cat.category}}
          </ion-select-option>
        </ion-select>


        <ion-popover #category [dismissOnSelect]="true">
          <ng-template>
            <ion-item *ngFor="let cat of filetrsubCategory">
              <ion-label (click)="this.productForm.patchValue({'subCategory': cat.title})">
                {{cat.title}}
              </ion-label>
            </ion-item>
          </ng-template>
        </ion-popover>

      </ion-item>


      <ion-item lines="none" color="primary">
        <ion-label position="floating">Quantity</ion-label>
        <ion-input type="number" formControlName="quantity"></ion-input>
      </ion-item>

      <ion-item lines="none" color="primary">
        <ion-label position="floating">Size/Weight</ion-label>
        <ion-input type="text" formControlName="sizes"></ion-input>
      </ion-item>




      <ion-button (click)="nextSlide(1)" class="next-btn">
        Next
      </ion-button>
    </form>
  </ng-template>


  <ng-template swiperSlide>

    <div class="form">

      <ion-item lines="none" color="primary">
        <ion-label position="floating">Price</ion-label>
        <ion-input type="number" #price (ionChange)="this.productForm.patchValue({price: price.value})"></ion-input>
      </ion-item>


      <ion-item lines="none" color="primary">
        <ion-label position="floating">Discount</ion-label>
        <ion-input type="number" #discount (ionChange)="this.productForm.patchValue({discount: discount.value})">
        </ion-input>
      </ion-item>

      <ion-item lines="none" color="primary">
        <ion-label slot="start">Negotiable</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="negotiable"
          (ionChange)="this.productForm.patchValue({'negotiable': negotiable})"></ion-checkbox>
      </ion-item>

      <ion-item lines="none" color="primary">
        <ion-label>
          <ion-chip (click)="selectFiles()">Select images</ion-chip>

        </ion-label>
        <ion-icon name="camera" slot="end" (click)="selectFiles()"></ion-icon>
        <input style="display: none" id='file-input' type="file" multiple="true" accept=".jpg, .png, .gif. .vid, .jpeg"
          (change)="filesSelected($event)">
      </ion-item>
      <ion-list style="display: flex; flex-direction: row;">
        <div id="image" *ngFor="let img of imagePath; let i = index" style=" flex-shrink: 0;">
          <ion-icon name="trash" color="danger" (click)="removeImage(i)"></ion-icon>
          <img [src]="img">
          <ion-spinner *ngIf="isUploading"></ion-spinner>
        </div>
      </ion-list>







      <ion-button style="margin-left: auto; margin-right: auto;" [disabled]="!productForm.valid"
        (click)="uploadProductItem()">Upload</ion-button>
      <ion-button (click)="nextSlide(0)" class="next-btn">
        Previous
      </ion-button>
    </div>
  </ng-template>
</swiper> -->
