<div class="card">
<div class="image" style="background-image: url('../../../assets/shapes.svg')">
  <div class="darkbg">
   

    <span>Closed Now</span>
  </div>
</div>
<div class="wrap"slot="end">
  <div class="description">
    <span class="title">County Fair</span>
    <span class="location">House number22county street</span>
    <div class="reviews">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
    </div>
  </div>
  
  <div class="like">
    <ion-icon size="large" name="heart-outline"></ion-icon>
  </div>
</div>
</div>



